# Virtual environment
venv/
.venv/
env/

# Environment variables (Maxfiy tokenlar)
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
